@import "breakPoint";

$note-color: rgb(233, 208, 66);
$body-color: rgba(53, 53, 53, 0.527);
$noteHover-color:rgb(151, 27, 27);
@keyframes fadein{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
        top: 0px;
    }
}
@keyframes fadeout{
    0%{
        opacity: 1;
    }
    100%{
        opacity: 0;
        left: -300px;
    }
}
.hao-animateOut{
    position: relative;
    left: 0px;
    animation: fadeout 1s both ;
}
.hao-animateIn{
    position: relative;
    top: -200px;
    animation: fadein 1s both ;
}

body{
    text-shadow: rgb(39, 39, 39) 2px 2px 2px;
    background-color: $body-color;
    .modal>div{
        text-shadow: none;
    }
    #todoTitle{
        font-weight: bolder;
    }
    
    .enName{
        width:100vw;
        height: 100vh;
        position: fixed;
        z-index: 5;
        background-color: rgba(53, 53, 53, 0.801);
        .userArea{
            border: 2px solid blanchedalmond;
            position: relative;
            top: 30vh;
            margin: 0 auto;
        }
    }
}
.todoList{
        background-color: $note-color;
        background-image: url("../images/bulletinBoard_bg.png");
        background-size: 50%;
        background-repeat: repeat;
        border: 2px dotted black;
        @include breakpoint(pc){
            background-size: 70%;
        }
        @include breakpoint(pad){
            background-size: 100%;
        }
        @include breakpoint(phone){
            background-size: 110%;
        }
        .enList{
            .inputTitle{
                color: rgb(253, 253, 253);
            }
        }
        .listItems{
            position: relative;
            li{
                list-style: none;
                background-image: url(../images/checklist_bg.png);
                background-size: cover;
                padding:60px 30px 10px 30px; 
                width: 30%;
                word-wrap:break-word;
                text-shadow: none;
                box-shadow: black 2px 2px 2px;
                @include breakpoint(pc){
                    width: 45%;
                }
                @include breakpoint(pad){
                    width: 100%;
                    padding-top:80px;
                }
                &:hover{
                    box-shadow: $noteHover-color 2px 2px 2px;
                }
            }
        }
}

